*{
    margin:0;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:linear-gradient(rgb(72, 0, 85) 20%, rgb(58, 22, 48) 74%) ;
}
.container{
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: col;
}